.header__container {
  background-color: #4169e1;
  padding: 15px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search {
  margin-top: auto;
  margin-bottom: auto;
}

.input {
  padding: 8px;
}